<% layout('layouts/boilerplate.ejs') %>

<div class="container d-flex flex-column"></div>
    <h1 class="align-self-center">Edit Campground</h1>

    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label for="title" class="form-label">Campground title:</label>
            <input type="text" class="form-control" id="title" name="campground[title]" value='<%= camp.title %>' required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please name the campground!
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Campground Location:</label>
            <input type="text" class="form-control" id="location" name="campground[location]" value='<%= camp.location %>' required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please specify the campground location!
            </div>
        </div>

        <div class="mb-3">
            <!-- FIX IMAGE EDITING LATER -->
            <!-- <label for="image" class="form-label">Campground Image Url</label> -->
            <input type="text" class="form-control" id="image" name="campground[image]" value='<%= camp.images %>' required hidden>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please give an image URL of the campground!
            </div>
        </div>

        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="price-addon">$</span>
            <input type="number" class="form-control" id="price" name="campground[price]" value='<%= camp.price %>' aria-describedby="price-addon" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please specify the campground price in USD!
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Campground Decription:</label>
            <textarea rows="5" type="text" class="form-control" id="description" name="campground[description]" required>
                <%= camp.description  %>
            </textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Briefly describe the campground!
            </div>
        </div>

        <button type="submit" class="btn btn-info">Update Campground</button>
    </form>
 

    <a href="/campgrounds">Back to all campgrounds</a>
<% layout('layouts/boilerplate.ejs') %>